<h1>Watch Lists</h1>
<div class="header">

</div>

<div class="add_list">
<%= link_to "Add a new watch list", new_list_path, class: "btn btn-ghost btn-outline-secondary", style: "position:absolute; top:10px; right: 50px;" %>
</div>

<div class="cards m-3">
 <% @lists.each do |list| %>
    <% if (list.photo.key != nil) %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path list.photo.key %>)">
    <% else %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "noimage.png" %>)">
    <% end %>
    <%= link_to list.name, list_path(list) %>
  </div>

  <% end %>
</div>

<!--
<ul>
  <% @lists.each do |list| %>
  <li>
    <%= link_to list.name, list_path(list) %>
    <% if (list.photo.key != nil) %>
      <%= cl_image_tag list.photo.key, height: 200, width: 300, crop: :fill %>
    <% else %>
      no image
    <% end %>
  </li>
  <% end %>
</ul>
-->
