<h1>Create a List</h1>
<div>
<%= link_to "Back to Watch list", lists_path, class: "btn btn-ghost btn-outline-secondary", style: "position:absolute; top:10px; right: 50px;" %>
</div>
<div class="container">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-ghost btn-outline-success" %>
  <% end %>

</div>
