<div class="container">
  <div class="card-category-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @list.photo.key %>)">
  <h1><%= @list.name %></h1>
  </div>
  <div class="m-3" style="text-align:center;">
    <%= link_to "Add a movie to the list", new_list_bookmark_path(params[:id]), class: "btn btn-ghost btn-ghost-show btn-outline-success" %>
    <%= link_to "Back to Watch list", lists_path, class: "btn btn-ghost btn-ghost-show btn-outline-secondary" %>
    <%= link_to "Delete this list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" }, class: "btn btn-ghost btn-ghost-show btn-outline-danger" %>
  </div>

  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <%= image_tag movie.poster_url, alt: movie.title %>
    <%= movie.title %>
    <%= movie.rating %>
    <%= movie.overview %>
    <%= bookmark.comment %>
    <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
  <% end %>
</div>
